body{
    background: white url("images/background1.jpg")no-repeat;
    background-position: top;
    background-size: cover;

}

li a{
    color: honeydew;
}
p {
    color: white;
}

ul {
    color: white;
}